html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;

}

body {
    background-color: rgb(35, 35, 35);
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}


/* NAV BAR */
nav {
    background-color: rgb(227, 20, 20);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    ;
}

nav #my-logo {
    border: black solid 4px;
    font-family: 'Righteous', cursive;
    padding: 12px;
    margin: 12px;
}

nav li {
    display: inline-block;
    padding: 7px;
    padding-right: 25px;
    font-size: x-large;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
}

#intro {
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    color: rgb(211, 211, 211);
    padding: 40px;
    padding-bottom: 0;
    width: auto;
    text-align: left;
    margin: 0 auto;
    margin-top: 70px;
    text-shadow: rgb(227, 20, 20) 2px 2px;
}

#intro-name {
    font-size: 100px;
    font-family: 'Righteous', cursive;
    color: rgb(227, 20, 20);
    text-shadow: rgb(211, 211, 211) 2px 2px;
}

#intro-link {
    text-align: center;
    font-size: 30px;
    color: rgb(227, 20, 20);
    border: rgb(211, 211, 211) solid 2px;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 15px;
    text-decoration: none;
}


/* SECTION CSS */
.section {
    margin: 200px auto;
}

.section-title {
    width: 100%;
    color: rgb(227, 20, 20);
    font-size: 60px;
    text-align: center;
    padding: 10px 0;
    margin: 0;

}


/* ABOUT ME */
#bio {
    width: 70%;
    padding: 0;
    margin: 15%;
}

#profile {
    display: flex;
}

#pfp {
    height: 250px;
    width: 250px;
    border-radius: 15%;
    padding: 30px;
}

.about {
    color: white;
    display: flex;
    text-align: center;
    margin: auto 50px;
    font-size: 18px;
}

#projects {
    text-align: center;

}

#project-container {
    padding: 0;
    display: flex;
    flex-direction: column;
}

#project-card {
    padding: 20px;
    width: 100px;
    background-color: rgb(169, 169, 169);
    margin-bottom: 80px;
}

#project-card h3 {
    font-size: 30px;
}

#projects a {
    color: rgb(227, 20, 20);
    text-shadow: black 1px 1px;
}

#contact {
    width: 100%;
    background-color: rgb(227, 20, 20);
    text-align: center;
    margin-bottom: 0;
    bottom: 0;
}

#contact ul {
    padding: 0;
    margin: 0;
}

#contact li {
    display: inline-block;
    font-size: larger;
    padding: 20px;
    font-weight: 600;
}

#contact a img {
    max-height: 1.5rem;
    position: relative;
    top: 5px;
}